{% extends 'emsapp/ems_base.html' %}
{% load static %}
{% block title %} Home -{% endblock %}

{% block head %}
{% endblock  %}

{% block body %}


<div class="container-fluid mt-1 border-danger">
    <section class="bg-primary text-white py-5">
        <div class="container text-center" style="margin-top:105px;height:520px;">
            <h1 class="display-4 text-black">Explore Amazing Events Around the World!</h1>
            <h3 class="fw-normal mt-4">Discover what's happening around the world and get involved.</h3> 
            <p class="lead mt-4"> Connect, participate, and enjoy unforgettable experiences  </p>
            <!-- Add a search bar or call-to-action button -->
            <a href="{% url 'user_register' %}" class="btn btn-lg btn-info mt-5">Get Started</a>
            <p class="lead mt-5 fst-italic text-black">Whether it's music, art, sports, or tech, find events that match your passions. Sign up to create and attend events effortlessly!
            </p>
        </div>
     </section>
</div>

<!-- Footer -->


{% endblock %}