{% extends 'emsapp/ems_base.html' %}
{% load static %}
{% load humanize %}

{% block title %} Home -{% endblock %}

{% block head %}
<style>
   /* Custom CSS */
   body {
      background-color: #f8f9fa;
   }

   .card {
      border-radius: 10px;
      box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
   }

   .category-list {
      border-radius: 10px;
   }

   .category-list .list-group-item {
      border: none;
      cursor: pointer;
      transition: background-color 0.3s;
   }

   .category-list .list-group-item:hover {
      background-color: #f8f9fa;
   }

   .search-form {
      border-radius: 20px;
   }

   .event-form {
      display: none;
   }
</style>
{% endblock %}

{% block body %}
<div class="container  mt-2 d-flex justify-content-between">
   <h3 class="mt-2">Latest Events</h3>
   <form class="d-flex mt-2" role="search" action="{% url 'event_home' %}" method="POST">
      {% csrf_token %}
      <input class="form-control me-3" type="search" placeholder="Search" aria-label="Search" style="width: 300px;">
      <button class="btn btn-success" name="search" type="submit">Search</button>
   </form>
</div>

<div class="container mt-3 ">
   <div class="row mt-2">
      <!-- Left Content Area -->
      <div class="col-md-9">
         {% if page_obj.object_list|length == 0 %}
         <div class="card mb-3">
            <h4 class="p-3 text-muted mt-3">Please Add Events </h4>
         </div>
         {% endif %}
         {% for data in page_obj.object_list %}
         <div class="card mb-3" data-bs-toggle="modal" data-bs-target="#eventModal{{ data.id }}">
            <div class="card-body">
               <div class="d-flex align-items-center justify-content-between mb-2" class="rounded-circle mr-3 me-2">
                  <div class="d-flex align-items-center">
                     <img src="{{ data.user.profile.image.url }}" alt="Profile Picture" class="rounded-circle mr-3 me-2"
                        style="width:55px;">
                     <div>
                        <h5 class="card-title mb-0 text-capitalize">{{ data.user.username }}</h5>
                        <small class="text-muted">Posted {{ data.created_at|timesince }} ago</small>
                     </div>
                  </div>
                  {% if request.user.is_authenticated %}
                  {% if request.user.role != 'organizer' %}
                  <div class="text-right me-3">
                     <a href="{% url 'book_event' data.id %}" class="btn btn-primary">Book Event</a>
                  </div>
                  {% endif %}
                  {% endif %}

               </div>
               <div class="container  pt-1">
                  {% if data.event_image %}
                  <img src="{{ data.event_image.url }}" alt="{{ event.event_name }}" class="card-img-top mb-3"
                     style="">
                  {% else %}
                  <img src="{{ data.event_image.url }}" alt="Default Image" style="">
                  {% endif %}
                  <h5 class="card-title">{{ data.event_name }}</h5>
                  <p class="card-text">{{ data.event_description|truncatewords_html:30 }} <button type="button"
                        class="btn btn-link" data-bs-toggle="modal" data-bs-target="#eventModal{{ data.id }}">Read
                        More</button>
                  </p>
                  <div class="row">
                     <div class="col mb-2">
                        <p class="mb-0 fw-bold">Date : {{ data.event_date | date:'Y-m-d' }}</p>
                     </div>
                     <div class="col">
                        <p class="mb-0 fw-bold">Location : {{ data.event_location }}</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>

         <!-- Modal -->
         <div class="modal fade" id="eventModal{{ data.id }}" tabindex="-1" aria-labelledby="eventModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg">
               <div class="modal-content">
                  <div class="modal-header">
                     <h5 class="modal-title" id="eventModalLabel">{{ data.event_name }}</h5>
                     <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                     <img src="{{data.event_image.url}}" class="card-img-top mb-3" alt="Event Image">
                     <p>{{ data.event_description }}</p>
                     <p><strong>Date : </strong>{{ data.event_date | date:'Y-m-d' }}</p>
                     <p><strong>Location : </strong>{{ data.event_location }}</p>
                     <p><strong>Deadline : </strong>{{data.event_reg_deadline}} </p>
                     <p><strong>Capacity : </strong>{{data.event_max_capacity}} </p>
                     <p><strong>Entry Fees : </strong>{{data.event_entry_fee}}</p>
                     <!-- Add more event details here as needed -->
                  </div>
                  <!--<div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>-->
               </div>
            </div>
         </div>
         {% endfor %}
      </div>
      <!-- Right Sidebar -->
      <div class="col-md-3 ">
         <div class="row">
            <div class=" my-3 category-list">
               <h4 class="">Filter By</h4>
               <ul class="list-group list-group-flush border">
                  <li class="list-group-item border-bottom"><a href="{% url 'app_event_type' event_type='latest' %}"
                        class="text-decoration-none text-black">Latest</a>
                  <li class="list-group-item border-bottom"><a href="{% url 'app_event_type' event_type='tomorrow' %}"
                        class="text-decoration-none text-black">Tomorrow's Event</a>
               </ul>
            </div>
         </div>
         <h4>Event Categories</h4>
         <div class="card  category-list">
            <ul class="list-group list-group-flush">
               </li>
               <li class="list-group-item border-bottom"><a href="{% url 'app_event_type' event_type='Technology' %}"
                     class="text-decoration-none text-black">Technology</a>
               </li>
               </li>
               <li class="list-group-item border-bottom"><a href="{% url 'app_event_type' event_type='Wedding' %}"
                     class="text-decoration-none text-black">Wedding</a></li>
               <li class="list-group-item border-bottom"><a href="{% url 'app_event_type' event_type='Sports' %}"
                     class="text-decoration-none text-black">Sports</a></li>
               <li class="list-group-item border-bottom"><a href="{% url 'app_event_type' event_type='Music' %}"
                     class="text-decoration-none text-black">Music</a></li>
               <li class="list-group-item border-bottom"><a href="{% url 'app_event_type' event_type='Art & Culture' %}"
                     class="text-decoration-none text-black">Art &
                     Culture</a></li>
               <li class="list-group-item border-bottom"><a href="{% url 'app_event_type' event_type='Business' %}"
                     class="text-decoration-none text-black">Business</a>
               </li>
               <li class="list-group-item border-bottom"><a href="{% url 'app_event_type' event_type='Education' %}"
                     class="text-decoration-none text-black">Education</a>
               </li>
               <li class="list-group-item border-bottom"><a href="{% url 'app_event_type' event_type='Food & Drink' %}"
                     class="text-decoration-none text-black">Food & Drink</a>
               </li>
            </ul>
         </div>
      </div>
   </div>
</div>

<!-- Pagination -->
<div class="pagination justify-content-center">
   <ul class="pagination mt-2">
      {% if page_obj.has_previous %}
      <li class="page-item">
         <a class="page-link" href="?page=1">&laquo; First</a>
      </li>
      <li class="page-item">
         <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      </li>
      {% else %}
      <li class="page-item disabled">
         <span class="page-link">First</span>
      </li>
      <li class="page-item disabled">
         <span class="page-link">Previous</span>
      </li>
      {% endif %}

      <li class="page-item active">
         <span class="page-link">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
         </span>
      </li>

      {% if page_obj.has_next %}
      <li class="page-item">
         <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
      </li>
      <li class="page-item">
         <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
      </li>
      {% else %}
      <li class="page-item disabled">
         <span class="page-link">Next</span>
      </li>
      <li class="page-item disabled">
         <span class="page-link">Last</span>
      </li>
      {% endif %}
   </ul>
</div>

<!--update model-->
<div class="modal fade" id="UpdateEventModal" tabindex="-1" aria-labelledby="addEventModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-lg">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="addEventModalLabel">Update Event</h5>
            <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
         </div>
         <div class="modal-body">
            <form action="#" method="POST" enctype="multipart/form-data">
               {% csrf_token %}
               <div class="form-group mb-3">
                  <label for="eventName">Event Name</label>
                  <input type="text" name="eventname" class="form-control" value="{{data.event_name}}" id="eventName">
               </div>
               <div class="form-group mb-3">
                  <label for="eventType">Event Type</label>
                  <select class="form-control" name="eventtype" id="eventType">
                     <option value="Technology">Technology</option>
                     <option value="Wedding">Wedding</option>
                     <option value="Sports">Sports</option>
                     <option value="Music">Music</option>
                     <option value="Art & Culture">Art & Culture</option>
                     <option value="Business">Business</option>
                     <option value="Education">Education</option>
                     <option value="Food & Drink">Food & Drink</option>
                  </select>
               </div>
               <div class="form-group mb-3">
                  <label for="eventDate">Event Date</label>
                  <input type="date" name="eventdate" class="form-control" id="eventDate">
               </div>
               <div class="form-group mb-3">
                  <label for="eventLocation">Event Location</label>
                  <input type="text" name="eventlocation" class="form-control" id="eventLocation">
               </div>
               <div class="form-group mb-3">
                  <label for="eventDescription">Event Description</label>
                  <textarea class="form-control" name="eventdescription" id="eventDescription" rows="3"></textarea>
               </div>
               <div class="form-group mb-3">
                  <label for="registrationDeadline">Registration Deadline</label>
                  <input type="datetime-local" name="eventregdeadline" class="form-control" id="registrationDeadline">
               </div>
               <div class="form-group mb-3">
                  <label for="maxCapacity">Maximum Capacity</label>
                  <input type="number" class="form-control" name="eventmaxcapacity" id="maxCapacity"
                     placeholder="Enter maximum capacity">
               </div>
               <div class="form-group mb-3">
                  <label for="eventImage">Event Image</label>
                  <input type="file" class="form-control-file" name="eventimage" id="eventImage">
               </div>
               <button type="submit" class="btn btn-primary">Submit</button>
            </form>
         </div>
      </div>
   </div>
</div>
<script>
   document.getElementById('addEventBtn').addEventListener('click', function () {
      document.querySelector('.event-form').style.display = 'block';
   });
</script>

{% block footer %}
{% endblock %}

{% endblock %}