{% extends 'emsapp/ems_base.html' %}
{% load static %}
{% block title %} Home -{% endblock %}

{% block head %}
    <style>
        .body1{
            background: url("{% static 'HOME-CONCERT-2.jpg' %}");
            background-size: cover; 
            background-position: center;
            height:400px;
            width: 1645px;;
        }
    </style>
{% endblock  %}

{% block body %}

<!-- Hero Section -->
<div class="body1 mt-3 ms-1">
</div>

<div class=" ms-1 border-danger" style="width:1645px; ">
    <section class="bg-primary text-white py-5">
        <div class="container text-center">
            <h1 class="display-4">Discover Exciting Events Near You</h1>
            <p class="lead">Find, attend, and organize events effortlessly!</p>
            <!-- Add a search bar or call-to-action button -->
            <a href="{% url 'user_register' %}" class="btn btn-lg btn-info">Get Started</a>
        </div>
     </section>
</div>

<!-- Footer -->


{% endblock %}