{% extends 'emsapp/ems_base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %} Profile -{% endblock %}
{% block head %}{% endblock head %}

{% block body %}
<div class="container d-flex">
    <button type="button" class="btn btn-success mt-3" data-bs-toggle="modal" data-bs-target="#addEventModal">Add
        Event</button>
    <!-- Modal -->
    <div class="modal fade" id="addEventModal" tabindex="-1" aria-labelledby="addEventModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addEventModalLabel">Add Event</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="{% url 'event_home' %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group mb-3">
                            <label for="eventName">Event Name</label>
                            <input type="text" name="eventname" class="form-control" id="eventName">
                        </div>
                        <div class="form-group mb-3">
                            <label for="eventType">Event Type</label>
                            <select class="form-control" name="eventtype" id="eventType">
                                <option value="Technology">Technology</option>
                                <option value="Wedding">Wedding</option>
                                <option value="Sports">Sports</option>
                                <option value="Music">Music</option>
                                <option value="Art & Culture">Art & Culture</option>
                                <option value="Business">Business</option>
                                <option value="Education">Education</option>
                                <option value="Food & Drink">Food & Drink</option>
                            </select>
                        </div>
                        <div class="form-group mb-3">
                            <label for="eventDate">Event Date</label>
                            <input type="date" name="eventdate" class="form-control" id="eventDate">
                        </div>
                        <div class="form-group mb-3">
                            <label for="eventLocation">Event Location</label>
                            <input type="text" name="eventlocation" class="form-control" id="eventLocation">
                        </div>
                        <div class="form-group mb-3">
                            <label for="eventDescription">Event Description</label>
                            <textarea class="form-control" name="eventdescription" id="eventDescription"
                                rows="3"></textarea>
                        </div>
                        <div class="form-group mb-3">
                            <label for="registrationDeadline">Registration Deadline</label>
                            <input type="datetime-local" name="eventregdeadline" class="form-control"
                                id="registrationDeadline">
                        </div>
                        <div class="form-group mb-3">
                            <label for="maxCapacity">Maximum Capacity</label>
                            <input type="number" class="form-control" name="eventmaxcapacity" id="maxCapacity"
                                placeholder="Enter maximum capacity">
                        </div>
                        <div class="form-group mb-3">
                            <label for="eventImage">Event Image</label>
                            <input type="file" class="form-control-file" name="eventimage" id="eventImage">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container border border-success mt-4 p-2">
    <div class="row row-cols-1 row-cols-md-2 g-4">
        {% for data in page_obj.object_list %}
        <div class="col">
            <div class="card h-100">
                <img src="{% static 'HOME-CONCERT-2.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{data.event_name}} {{data.id}}</h5>
                    <p class="card-text">{{data.event_description}}</p>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col mt-3">
                            <p class=" fw-bold">Date: {{data.event_date | date:'Y-m-d' }}</p>
                        </div>
                        <div class="col mt-3">
                            <p class="fw-bold">Location: {{data.event_location}}</p>
                        </div>
                        <div class="col-2 mt-2">
                            <button type="button" class="btn btn-secondary" data-bs-toggle="modal"
                                data-bs-target="#UpdateEvent">Update</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="modal fade" id="UpdateEvent" tabindex="-1" aria-labelledby="addEventModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
           <div class="modal-content">
              <div class="modal-header">
                 <h5 class="modal-title" id="addEventModalLabel">Add Event</h5>
                 <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                 <form action="{% url 'event_home' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group mb-3">
                       <label for="eventName">Event Name</label>
                       <input type="text" name="eventname" class="form-control" id="eventName">
                    </div>
                    <div class="form-group mb-3">
                       <label for="eventType">Event Type</label>
                       <select class="form-control" name="eventtype" id="eventType">
                          <option value="Technology">Technology</option>
                          <option value="Wedding">Wedding</option>
                          <option value="Sports">Sports</option>
                          <option value="Music">Music</option>
                          <option value="Art & Culture">Art & Culture</option>
                          <option value="Business">Business</option>
                          <option value="Education">Education</option>
                          <option value="Food & Drink">Food & Drink</option>
                       </select>
                    </div>
                    <div class="form-group mb-3">
                       <label for="eventDate">Event Date</label>
                       <input type="date" name="eventdate" class="form-control" id="eventDate">
                    </div>
                    <div class="form-group mb-3">
                       <label for="eventLocation">Event Location</label>
                       <input type="text" name="eventlocation" class="form-control" id="eventLocation">
                    </div>
                    <div class="form-group mb-3">
                       <label for="eventDescription">Event Description</label>
                       <textarea class="form-control" name="eventdescription" id="eventDescription" rows="3"></textarea>
                    </div>
                    <div class="form-group mb-3">
                       <label for="registrationDeadline">Registration Deadline</label>
                       <input type="datetime-local" name="eventregdeadline" class="form-control"
                          id="registrationDeadline">
                    </div>
                    <div class="form-group mb-3">
                       <label for="maxCapacity">Maximum Capacity</label>
                       <input type="number" class="form-control" name="eventmaxcapacity" id="maxCapacity"
                          placeholder="Enter maximum capacity">
                    </div>
                    <div class="form-group mb-3">
                       <label for="eventImage">Event Image</label>
                       <input type="file" class="form-control-file" name="eventimage" id="eventImage">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                 </form>
              </div>
           </div>
        </div>
     </div>
</div>
<!--pagination-->
<div class="pagination justify-content-center mt-3">
    <ul class="pagination mt-2">
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page=1">&laquo; First</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <span class="page-link">First</span>
        </li>
        <li class="page-item disabled">
            <span class="page-link">Previous</span>
        </li>
        {% endif %}

        <li class="page-item active">
            <span class="page-link">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>
        </li>

        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <span class="page-link">Next</span>
        </li>
        <li class="page-item disabled">
            <span class="page-link">Last</span>
        </li>
        {% endif %}
    </ul>
</div>
{% block footer %}{% endblock %}
{% endblock %}